/* css reset */
ul {
  list-style: none;
  padding-left:0;
}



.ml-4 {
  margin-left: 16px;
}
.ml-2 {
  margin-left: 8px;
}

.w-full {
    width: 100%;
}
.mb-4 {
    margin-bottom: 16px;
}
.bbox {
  box-sizing: border-box;
}
.hover {
  cursor: pointer;
}

