@import url(base.css);



body,html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Segoe UI, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", Roboto, Helvetica, Arial, sans-serif ;
  color: var(--text-color)
}

#app {
  min-height: 100vh;
  position: relative;
}
.page {
  height: 100%;
}

