@import url(base.css);



body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", "Microsoft YaHei UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
}

.tiptap-editor > .tiptap {
  outline: none;
  min-height: 100%;
  width: 100%;

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 1rem;
      padding: 0;
    }
  }

}